.settings
.engine
.artifacts
.tmp
logs/*.log
settings.xml
.netbeans
.vscode
tests/results/*
test-harness/logs/*
modules/cbjavaloader
coldbox/*
testbox/*
artifacts/*
apidocs/docbox/*
workbench/*
changelog-latest.md